<% provide(:title, "Willness - Welcome") %>



<div class="landing-main">

  <div class="sub">
    <h1>Willness</h1>

    <%= link_to "Sign up", signup_path, class: 'btn btn-default' %>
    <%= link_to "Log in", "#", class: 'btn btn-default'%>
  </div>

</div>

<div class='landing-footer'>


</div>