<% provide(:title, "Willness - Welcome") %>



<div class="landing-main">

  <div class="sub">
    <h1>Willness</h1>

    <%= render "login_signup" %>

  </div>

</div>

<div class='landing-footer '>

</div>