<div class="dashboard">


  <ul class= 'nav nav-pills nav-justified' id="dashboard-select">
    <li> <a data-toggle="tab" href="#day">Day</a></li>
    <li> <a data-toggle="tab" href="#week">Week</a></li>
    <li> <a data-toggle="tab" href="#month">Month</a></li>
    <li> <a data-toggle="tab" href="#year">Year</a></li>
  </ul>

  <div class="tab-content">
    <%= render "day" %>
    <%= render "week" %>
    <%= render "month" %>
    <%= render "year" %>
  </div>
</div>