<div class="panel panel-default">
  <div class="panel-body">
    <%= task.title %> | <%= task.category %> <span class="points">| <%= task.value %>pts. |</span>
  </div>
  <div class="panel-footer">

    <%= task.description %>

  </div>
</div>