<div id="week" class="tab-pane fade in">
  <div class='dashboard-container'>
            <h1> Weekly Dashboard </h1>
            <h3><%=  todays_date %></h3>

            <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
            </p>


          <div class='container-fluid'>
            <div class="row">
              <div class="col-md-3 weekly-steps" style=' height: 300px'>
              </div>
              <div class='col-md-9' style='height: 300px'>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6" style=' height: 300px'>
              </div>
              <div class='col-md-6' style=' height: 300px'>
              </div>
            </div>
          </div>


  </div>
</div>