<div id='year' class="tab-pane fade in">
  <div class='dashboard-container'>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>


            <h1> Yearly Dashboard</h1>
            <h3><%= todays_date %></h3>

            <p>YOooooo
            </p>


  </div>
</div>