<div class='row'>


  <% if logged_in? %>
    <%= link_to 'Log out', logout_path, method: 'delete', class:'btn btn-default' %>
  <% end %>

  <div class="row">
    <div class='col-md-4 col-md-offset-4 form'>
      <h2> Welcome email: <%= @user.username %> </h2>
        <%= render 'tasks/new' %>
    </div>
  </div>

</div>