// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.landing-main{
  position:relative;
  background: #549367;
  height:100%;
  width:100%;

  h1{
  margin:0 auto 50px auto;
  color: white;
  font-family: 'Neucha', cursive;
  font-size: 300px;
  }

  .sub{
    position:relative;
    top:25%;
    text-align:center;
  }

  .btn{
    background: none;
    color:white;
    box-shadow:none;
    margin: 0 15px 0 15px;
    font-size: 30px;
    font-family: 'Neucha', cursive;
    padding: 15px 35px;
  }
}

.landing-footer{

  height: 300px;
  width: 100%;
}

