$neucha: 'Neucha', cursive;
$my_green: #549367;
$my_blue: #4B6065;
$my_gray: #E1E1E1;
$my_darker_green: #326441;
$my_darker_gray: #E4E4E4;

.navbar{
  position:fixed;
  height: 77px;
  width: 100%;
  border-radius: 0px;
  background-color: $my_blue;
  z-index:4;
  box-shadow: 0 2px 10px rgba(0,0,0,0.26);
  margin-top: -1px;
  .navbar-brand{
    position:relative;
    font-family: $neucha;
    font-size: 90px;
    margin-top: 20px;
    left:20px;
    color: white;
  }
  .navbar-brand:hover{
    color:white;
  }
}



.left-nav.open-sidebar{
  left:0px;
}

.left-nav{
  position:fixed;
  height:100%;
  width:300px;
  top:75px;
  left:-250px;
  z-index:3;

  .open-sidebar {
    position:absolute;
    left: 0px
  }

  -webkit-transition:left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;

  #links {
    position: relative;
    float:left;
    background:white;
    width: 250px;
    height: 100%;

    ul{
      margin:0;
      padding:0;
      list-style:none;
      li{
        margin:0;
        a{
          padding: 15px 20px;
          font-size: 16px;
          font-weight: 100;
          color:$my_blue;
          text-decoration:none;
          display:block;
          border-bottom: 1px solid $my_blue;
          -webkit-transition: background color 0.3s ease-in-out;
          -moz-transition: background color 0.3s ease-in-out;
          -ms-transition: background color 0.3s ease-in-out;
          -o-transition: background color 0.3s ease-in-out;
          transition: background color 0.3s ease-in-out;
        }
      }
      li:hover a{
        background: $my_green;
        color:white
      }
    }
  }



  #slider{
    position:relative;
    background-color: $my_green;
    width: 50px;
    height:100%;
    z-index:3;
    float:right;
    box-shadow: 10px 0 4px -10px rgba(0,0,0,0.26);

    -webkit-transition:background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -ms-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-in-out;

    #sidebar-toggle{

      border-radius: 3px;
      display:block;
      position: relative;

      float:left;
      top: 15px;
      left:15px;

      .bar{
        display:block;
        width: 18px;
        padding: 2px;
        margin-bottom: 3px;

        background-color: white;
        border-radius: 1px;
        -webkit-transition: background-color 0.4s ease-in-out;
        -moz-transition: background-color 0.4s ease-in-out;
        -ms-transition: background-color 0.4s ease-in-out;
        -o-transition: background-color 0.4s ease-in-out;
        transition: background-color 0.4s ease-in-out;
      }

      .bar.change-white{
        background-color:white;
      }

    }
  }
  #slider.change-blue{
    background-color: $my_blue;
  }

}

#slider:hover{
  background:$my_darker_green;
}














