#tree_1{
  stroke-dashoffset:1010.47;
  stroke-dasharray:1010.47;
}
#tree_2{
  stroke-dashoffset:767.77;
  stroke-dasharray:767.77;
}
#tree_3{
  stroke-dashoffset:1689.9046630859375;
  stroke-dasharray:1689.9046630859375;
}